.bordered {
    border: 2px solid black;
    background-color: azure;
    padding: 10px;
}

/* Простые селекторы*/
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/*Теперь, не меняя значения этого селектора, попробуйте изменить цвет названия нашего сайта, используя селектор с более высоким приоритетом.*/
/*Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору*/
#header-index {
    color: #277112;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 3%;
}

/*Измените фон всех элементов нашей страницы, кроме сайдбара, с белого на любой другой (на ваш выбор).*/
header, footer, body, .video-container {
    background-color: linen;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

.example:hover {
    background-color: darkgray;
}

.navbar a {
    color: darkturquoise;
}

.navbar a:hover {
    color: aquamarine;
}

input {
    border: 2px solid darkgray;
    border-radius: 2px;
    outline: none;

}

input:focus {
    border: 2px solid red;
}